<%- include('./includes/head.ejs')%>
   <link rel="stylesheet" href="/css/thanks.css">
   <script src="/js/thanks.js" defer></script>
</head>
<body>
   <div class="content">
   <h1>Thanks for your order!</h1>
      <form action="/shop">
         <button type="submit" class="confirm-button">Back to the shop</button>
      </form>
   </div>
</body>
</html>