body{
   background-color: #151926;
   color: #C5C6C7;
   text-align: center;
   padding: 0 13% 0 13%;
   font-family: 'Viga', sans-serif;
}

::-webkit-scrollbar{
   width: 0;
}

#scrollpath{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: rgba(255, 255, 255, 0.05);
}

#progressbar{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   background: linear-gradient(to top, #008aff, #00ffe7);
   animation: animate 5s linear infinite;
}

@keyframes animate{
   0%, 100%{
      filter: hue-rotate(0deg);
   }
   50%{
      filter: hue-rotate(360deg);
   }
}

#progressbar::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #008aff, #00ffe7);
   filter: blur(10px);
}

#progressbar::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #008aff, #00ffe7);
   filter: blur(30px);
}

.content{
   background-color:#1F2833;
   height: 100%;
   padding: 0;
   margin: 0;
   overflow: hidden;
   border-radius: 20px; 
   box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.2), -10px 0 10px 5px rgba(0, 0, 0, 0.2);
}

.general-header{
   font-size: 10rem;
   color:#66FCF1;
   line-height: 5rem;
}

.second-header{
font-size: 5rem;
color:#45A29E;
line-height: 0.1rem;
}

.container{
   padding-top: 4rem;
   align-items: center;
   justify-content: center;
   margin: 50px;
   

   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(auto-fit, 400px);
   grid-template-rows: repeat(3, 50px);
}

.container .product-div:hover{
   background-color: #ff1493;
   transform: scale(1.05);
}

img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

.product-div{
   background-color: #2f5ea3;
   height: 100%;
   width: 100%;
   transition: 0.6s;
   min-height: 250px;
   border-radius: 5px;
   max-height: 300px;
}

.product, .product-price{
   align-self: center;
   justify-self: center;
}

a:link{
   color:white;
}

a:visited{
   color:white;
}

a{
   text-decoration:none;
}

.main-text{
   text-align: justify;
   margin-bottom: 5rem;
   margin-left: 10%;
   margin-right: 10%;
}

header{
   display: flex;
   position: relative;
   width: 100%;
   height: 250px;
   overflow: hidden;
   border-radius: 20px 20px 0 0;
}

header .upperWave{
   position: absolute;
   top: 0;
   height: 100%;
   left: 0;
   width: 100%;
   background-image: url(upperWave.png);
   background-size: 1000px 250px;
}

header .upperWave.wave1{
   animation: wavesAnimation 30s linear infinite;
   z-index: 1000;
   opacity: 1;
   animation-delay: 0s;
   bottom: 0;
}

header .upperWave.wave2{
   animation: wavesAnimation2 15s linear infinite;
   z-index: 999;
   opacity: 0.5;
   animation-delay: -5s;
   bottom: 5px;
}

header .upperWave.wave3{
   animation: wavesAnimation 30s linear infinite;
   z-index: 988;
   opacity: 0.2;
   animation-delay: -2s;
   bottom: 10px;
}

header .upperWave.wave4{
   animation: wavesAnimation2 5s linear infinite;
   z-index: 997;
   opacity: 0.7;
   animation-delay: -5s;
   bottom: 15px;
}

footer{
   display: flex;
   position: relative;
   width: 100%;
   height: 250px;
   overflow: hidden;
   border-radius: 0 0 20px 20px;
}

footer .lowerWave{
   position: absolute;
   bottom: 0;
   height: 100%;
   left: 0%;
   width: 100%;
   background-image: url(lowerWave.png);
   background-size: 1000px 250px;
}

footer .lowerWave.wave1{
   animation: wavesAnimation 30s linear infinite;
   z-index: 1000;
   opacity: 1;
   animation-delay: 0s;
   bottom: 0;
}

footer .lowerWave.wave2{
   animation: wavesAnimation2 15s linear infinite;
   z-index: 999;
   opacity: 0.5;
   animation-delay: -5s;
   bottom: 5px;
}

footer .lowerWave.wave3{
   animation: wavesAnimation 30s linear infinite;
   z-index: 988;
   opacity: 0.2;
   animation-delay: -2s;
   bottom: 10px;
}

footer .lowerWave.wave4{
   animation: wavesAnimation2 5s linear infinite;
   z-index: 997;
   opacity: 0.7;
   animation-delay: -5s;
   bottom: 15px;
}

@keyframes wavesAnimation{
   0%{
      background-position-x: 0;
   }
   100%{
      background-position-x: 1000px;
   }
}

@keyframes wavesAnimation2{
   0%{
      background-position-x: 0;
   }
   100%{
      background-position-x: -1000px;
   }
}

@media (max-width: 1180px){
   .general-header{
      font-size: 6rem;
   }
   .second-header{
      font-size: 3rem;
      }
      body{
         text-align: center;
         padding: 0 3rem 0 3rem;
      }
}

@media (max-width: 960px) {
   .container {
     display: flex;
     flex-direction: column;
   }
   .product-div{
      max-width: 500px;
   }
}

@media (max-width: 610px){
   .general-header{
      font-size: 3rem;
   }
   .second-header{
      font-size: 1rem;
      }
      body{
         text-align: center;
         padding: 0 3rem 0 3rem;
      }
}

@media (max-width: 400px){
   .general-header{
      font-size: 3rem;
   }
   .second-header{
      font-size: 1rem;
      margin-top: -2em;
   }
   body{
         text-align: center;
         padding: 0 0.5rem 0 1rem;
      }
}