body{
   background-color: #151926;
   color: #C5C6C7;
   text-align: center;
   padding: 0 15% 0 15%;
   font-family: 'Viga', sans-serif;
}

::-webkit-scrollbar{
   width: 0;
}

#scrollpath{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: rgba(255, 255, 255, 0.05);
}

#progressbar{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   background: linear-gradient(to top, #008aff, #00ffe7);
   animation: animate 5s linear infinite;
}

@keyframes animate{
   0%, 100%{
      filter: hue-rotate(0deg);
   }
   50%{
      filter: hue-rotate(360deg);
   }
}

#progressbar::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #008aff, #00ffe7);
   filter: blur(10px);
}

#progressbar::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #008aff, #00ffe7);
   filter: blur(30px);
}

.username{
background-color: #151926;
width: 100%;
position: sticky;
top: 0;
z-index: 9999;
}
.username:hover{
   background-color: #3a4568;
}

.content{
   background-color:#1F2833;
   height: 100%;
   padding: 0;
   margin: 0;
   overflow: hidden;
   border-radius: 20px; 
   box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.2), -10px 0 10px 5px rgba(0, 0, 0, 0.2);
}

.general-header{
   font-size: 10rem;
   color:#66FCF1;
   line-height: 5rem;
}

.second-header{
   font-size: 5rem;
   color:#45A29E;
   line-height: 0.1rem;
}

.container{
   padding-top: 8rem;
   align-items: center;
   justify-content: center;
   
   display: grid;
   grid-gap: 355px 30px;
   grid-template-columns: repeat(auto-fit, 325px);
   grid-template-rows: repeat(3, 50px);
}

.container .product-div:hover{
   background-color: #bc13fe;
   transform: scale(1.05);
}

.product-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   height: 270px;
   width: 300px;
   object-fit: cover;
}

.product-div{
   background-color: #2c3552;
   height: 100%;
   width: 100%;
   transition: 0.5s;
   border-radius: 5px;
   max-height: 400px;
   max-width: 325px;
   overflow: hidden;
   position: relative;
}

input{
   color:white;
   width: 20%;
   border-width:0px;
   border:none;
   font-size: 20px;
   background: 
       linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    padding-left: 10px;
   padding-bottom: 10px;
   margin-top: 20px;
 }

 input::placeholder{
   color: rgb(199, 199, 199);
 }

 input::-ms-input-placeholder{
   color:#24C6DC;
 }
 
   input:focus{
   outline: none;
   background: 
   linear-gradient(#24C6DC,#24C6DC) center bottom 5px /calc(100% - 10px) 2px no-repeat;
 }


.btn {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)}
 .btn {
 padding: 5px 20px;
 margin-top: 20px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 border-radius: 30px;
 border-style: hidden;
 display: inline;
 font-size: 20px;
 }

.filter{
   margin-top: 20px;
   background-color:#1F2833;
   color:white;
   font-size: 20px;
}

.product, .product-price{
   align-self: center;
   justify-self: center;
   padding: 0;
   margin: 0 0 5px 0;
}

a:link{
   color:white;
}

a:visited{
   color:white;
}

a{
   text-decoration:none;
}

.main-text{
   text-align: justify;
   margin: 5em 10% 2em 10%;
   font-size: 32px;
   letter-spacing: 1px;
   line-height: 45px;
}

.main-text span{
   font-size: 74px;
   font-weight: 300;
   color: #66FCF1;
}

.list-filter{
margin-bottom: 4rem;
}

.contacts{
   position: relative;
   width: 100%;
   padding: 0;
   margin: 0;
   display: block;
}

.contacts .map{
   border: 0;
   width: 350px;
   height: 250px;
   border-radius: 5px;
   margin-left: 10%;
   float: left;
}

header{
   display: flex;
   position: relative;
   width: 100%;
   height: 200px;
   overflow: hidden;
   border-radius: 20px 20px 0 0;
}

header .upperWave{
   position: absolute;
   top: 0;
   height: 100%;
   left: 0;
   width: 100%;
   background-image: url(images/upperWave.png);
   background-size: 1000px 200px;
}

header .upperWave.wave1{
   animation: wavesAnimation 30s linear infinite;
   z-index: 1000;
   opacity: 1;
   animation-delay: 0s;
   bottom: 0;
}

header .upperWave.wave2{
   animation: wavesAnimation2 15s linear infinite;
   z-index: 999;
   opacity: 0.5;
   animation-delay: -5s;
   bottom: 5px;
}

header .upperWave.wave3{
   animation: wavesAnimation 30s linear infinite;
   z-index: 988;
   opacity: 0.2;
   animation-delay: -2s;
   bottom: 10px;
}

header .upperWave.wave4{
   animation: wavesAnimation2 5s linear infinite;
   z-index: 997;
   opacity: 0.7;
   animation-delay: -5s;
   bottom: 15px;
}

footer{
   display: flex;
   position: relative;
   width: 100%;
   height: 250px;
   overflow: hidden;
   border-radius: 0 0 20px 20px;
}

footer .lowerWave{
   position: absolute;
   bottom: 0;
   height: 100%;
   left: 0%;
   width: 100%;
   background-image: url(images/lowerWave.png);
   background-size: 1000px 250px;
}

footer .lowerWave.wave1{
   animation: wavesAnimation 30s linear infinite;
   z-index: 1000;
   opacity: 1;
   animation-delay: 0s;
   bottom: 0;
}

footer .lowerWave.wave2{
   animation: wavesAnimation2 15s linear infinite;
   z-index: 999;
   opacity: 0.5;
   animation-delay: -5s;
   bottom: 5px;
}

footer .lowerWave.wave3{
   animation: wavesAnimation 30s linear infinite;
   z-index: 988;
   opacity: 0.2;
   animation-delay: -2s;
   bottom: 10px;
}

footer .lowerWave.wave4{
   animation: wavesAnimation2 5s linear infinite;
   z-index: 997;
   opacity: 0.7;
   animation-delay: -5s;
   bottom: 15px;
}

@keyframes wavesAnimation{
   0%{
      background-position-x: 0;
   }
   100%{
      background-position-x: 1000px;
   }
}

@keyframes wavesAnimation2{
   0%{
      background-position-x: 0;
   }
   100%{
      background-position-x: -1000px;
   }
}

@media (max-width: 1180px){
   .general-header{
      font-size: 6rem;
   }
   .second-header{
      font-size: 3rem;
      }
      body{
         text-align: center;
         padding: 0 3rem 0 3rem;
      }
}

@media (max-width: 960px) {
   .container {
     display: flex;
     flex-direction: column;
     grid-gap: 15px;
     margin-bottom: 100px;
   }
   .product-div{
      max-width: 500px;
   }
}

@media (max-width: 610px){
   .general-header{
      font-size: 3rem;
   }
   .second-header{
      font-size: 1rem;
      }
      body{
         text-align: center;
         padding: 0 3rem 0 3rem;
      }
}

@media (max-width: 400px){
   .general-header{
      font-size: 3rem;
   }
   .second-header{
      font-size: 1rem;
      margin-top: -2em;
   }
   body{
         text-align: center;
         padding: 0 0.5rem 0 1rem;
      }
}

.e-mail{
   padding-top: 40px;
   display: block;
   position: relative;
}

.e-mail h2{
   position: relative;
   color: #fff;
   font-weight: 300;
}

.e-mail h2::before{
   content: url(images/mail.png);
   position: relative;
   top: 5px;
   left: -15px;
}

.phone{
   margin: 0;
   padding: 0;
   display: block;
   position: relative;
}

.phone h2{
   position: relative;
   color: #fff;
   margin: 0;
   font-weight: 300;
}

.phone h2::before{
   content: url(images/phone-call.png);
   position: relative;
   left: -15px;
   top: 5px;
}

.instagram{
   display: inline-block;
   position: relative;
   top: 10px;
}

.facebook{
   display: inline-block;
   position: relative;
   top: 10px;
   padding: 5px;
}

.linkedIn{
   display: inline-block;
   position: relative;
   top: 10px;
}