body{
    background-color: #151926;
    color: #C5C6C7;
    text-align: center;
    padding: 0 15% 0 15%;
    font-family: 'Viga', sans-serif;
}

.content{
    background-color: #1F2833;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.2), -10px 0 10px 5px rgba(0, 0, 0, 0.2);
}

.content h1{
    color: #66FCF1;
}

.content h2{
    color: #45A29E;
}

.confirm-button{
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #755bea, #ff72c0);
    color: #fff;
    width: 220px;
    height: 80px;
    border: 0;
    transition: 0.5s;
    margin: 10px;
}

.confirm-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}